html, body {
    font-family: sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}

.row{
    margin-top: 2px;
}

.svg_hex{
    height: 200px;
    width: 200px;
}

#game{
    position: relative;
    height: 600px;
}

.div_hex{
    position: absolute;
}

.span_hex{
    font-size: xx-large;
    color: red;
    position: absolute;
    left: 95px;
    top: 60px;
}

